.content {
  text-align: center;
}
header {
  background-color: #f5a623;
}
.header-slogan {
  vertical-align: middle;
  font-size: 2vw;
  color: #fff;
}
.header-phone {
  vertical-align: middle;
  font-size: 1vw;
  color: #fff;
}
.header-call {
  vertical-align: middle;
  font-size: 1.5vw;
  color: #fff;
  cursor: pointer;
  margin-left: 1vw;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 5px 10px;
}
.header-call:hover {
  color: #768588;
  border-color: #768588;
}
.logo {
  width: 5%;
  margin: 1vw 0vw 1vw 1vw;
}
.banner {
  position: relative;
  height: 25vw;
  overflow: hidden;
}
.paralax-background {
  position: fixed;
  background-image: url("../img/paralax/truck.jpg");
  height: 500px;
}
.paralax-info-block {
  height: 15vw;
  position: absolute;
  background-color: rgba(245,166,35,0.9);
  margin: 5% auto;
  left: 0;
  right: 0;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 2vw;
  padding: 1vw;
}
.paralax-info-block p {
  margin: 1vw;
  font-weight: bold;
}
.icon-info {
  height: 3vw;
  font-size: 2vw;
  background-color: #fff;
  padding-bottom: 4vw;
}
.icon-info span {
  margin: 1vw;
  color: #768588;
}
.icon-info .glyphicon {
  color: #f5a623;
}
#map {
  background-color: #f5a623;
  width: 800px;
  height: 600px;
}
.maps {
  width: 100%;
  height: 900px;
  position: relative;
  padding: 2vw;
}
.line {
  fill: none;
  stroke: #f00;
  stroke-opacity: 1;
  opacity: 0.5;
}
