header {
  background-color: #f5a623;
}
header span {
  vertical-align: middle;
  color: #fff;
  text-align: center;
}
.header-slogan {
  font-size: 2vw;
}
.header-phone {
  font-size: 1vw;
}
.header-call {
  font-size: 1.5vw;
  cursor: pointer;
  margin-left: 1vw;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 5px 10px;
}
.header-call:hover {
  color: #768588;
  border-color: #768588;
}
.logo {
  width: 5%;
  margin: 1vw 0vw 1vw 1vw;
}
.banner {
  position: relative;
  height: 25vw;
  overflow: hidden;
}
.paralax-background {
  position: relative;
  background-image: url("../img/paralax/truck.jpg");
  height: 500px;
}
.paralax-info-block {
  height: 15vw;
  position: absolute;
  background-color: rgba(245,166,35,0.9);
  margin: 5% auto;
  left: 0;
  right: 0;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 2vw;
  padding: 1vw;
}
.paralax-info-block p {
  margin: 1vw;
  font-weight: bold;
}
.icon-info {
  height: 3vw;
  font-size: 2vw;
  background-color: #fff;
  padding-bottom: 4vw;
  text-align: center;
}
.icon-info span {
  margin: 1vw;
  color: #768588;
}
.icon-info .glyphicon {
  color: #f5a623;
}
.maps {
  width: 42vw;
  height: 35vw;
  position: relative;
  padding: 0;
  background-image: url("../img/laptop.png");
  background-repeat: none;
  background-size: cover;
}
#map {
  background-color: #f5a623;
  overflow: hidden;
  color: #fff;
}
.mapSmall {
  height: 21.6vw;
  width: 38.6vw;
  position: absolute;
  top: 3.55vw;
  left: 1.7vw;
}
.mapBig {
  height: 45vw;
}
.glyphicon-fullscreen {
  cursor: pointer;
  float: right;
  font-size: 1.5vw;
  top: 1vw;
  z-index: 99;
  color: #000;
  right: 1vw;
}
.line {
  fill: none;
  stroke: #f00;
  stroke-opacity: 1;
  opacity: 1;
  stroke-width: 6;
}
.mapSmall > #users {
  font-size: 0.5vw;
}
.mapBig > #users {
  font-size: 0.5vw;
}
#users {
  z-index: 99;
  background-color: #60626d;
  padding: 0;
}
#users div {
  padding: 0.5vw 0;
  text-align: center;
  cursor: pointer;
}
#users div:hover {
  background-color: #e2e2e2;
}
#users span {
  vertical-align: middle;
}
#users .activeUser {
  background-color: #c0c0c0;
  box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.55);
  color: #262626;
}
#users .activeUser:hover {
  background-color: #c0c0c0;
}
.mapSmall > #coords {
  font-size: 0.5vw;
}
.mapBig > #coords {
  font-size: 0.5vw;
}
#coords {
  text-align: center;
  z-index: 99;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #60626d;
  left: 0;
}
.route-table {
  margin-top: 1vw;
  margin-bottom: 0;
}
.route-table tbody > tr:hover {
  background-color: #fff;
  cursor: pointer;
}
.glyphicon-menu-down {
  cursor: pointer;
  font-size: 1vw;
  position: absolute;
}
